.calendar__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    font-family: "Inter";
}
.calendar__btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:30%;
    gap: 16px;
}
.calendar__tab-btn{
    padding: 16px 24px;
    font-weight: 600;
    font-family: "Inter";
    font-size: clamp(20px, 3vw, 32px);
    background: none;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.calendar__events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:70%;
    gap: 16px;
}
.calendar__event{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border-radius: 43px;
    border: 1.5px solid #ffff;
    padding: 16px;
    width: 100%;
    max-width: 792px;
    max-height: 171px;
    height: 100%;
}
.calendar__tab-btn.active{
   font-weight: 900;
   text-decoration: underline;
  
}
.calendar__event-title{
    font-weight: 800;
    font-family: "Inter";
    font-size: clamp(20px, 4vw, 32px);
}
.calendar__event-date span{
    font-size: 14px;
    font-weight: 300;
    font-family: "Inter";
    
}
.police-btn{
    background: #F6F4EC;
   width:87px;
   height: 61px;
    border-radius: 43px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.police-btn img{
    width: 30%;
    height: 20%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .calendar__container {
        flex-direction: column;
    }
}
