.footer {
    background-color: #fff;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;

}

.footer__links {
    display: flex;
    align-items: center;
}

.footer__links ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.footer__links li {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.footer__links a {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: inherit;
    text-decoration: none;
}

.footer__links a:hover {
    opacity: 0.7;
}

.footer__links img {
    width: 24px;
    height: 24px;
}

.footer__adres p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

@media (max-width: 768px) {
    .footer__container {
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 0 1rem;
    }

    .footer__links ul {
        justify-content: center;
        width: 100%;
    }

    .footer__adres {
        text-align: center;
        width: 100%;
    }
}