.header__container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 3rem;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header__nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.header__nav__plan a,
.header__nav__membership a,
.header__nav__actual a,
.header__nav__resources a,
.header__about-us a {
    text-decoration: none;
    color: #1B1B1B;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: all 0.3s;
}

.header__nav>ul>li:hover>a {
    background-color: transparent;
    border: 1px solid black;
}

.header__lang {
    display: flex;
    gap: 0.5rem;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Burger Menu Styles */
.header__burger {
    display: none;
    cursor: pointer;
}

.header__burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #1B1B1B;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

/* Burger Animation */
.header__burger.active span:nth-child(2) {
    opacity: 0;
}

.header__burger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.header__burger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.header__about-us {
    position: relative;
    height: 100%;
}

.header__about-us::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    top: 100%;
    left: 0;
}

.header__about-us:hover .header__about-us__dropdown {
    display: block;
    transition: all 0.8s;
}

.header__about-us__dropdown {
    display: none;
    position: absolute;
    top: 150%;
    left: 0;
    width: 15rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    transition: all 0.8s;
}

.header__about-us__dropdown ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.8s;

}

.header__about-us__dropdown li {
    cursor: pointer;
    width: 100%;
    position: relative;
    transition: all 0.3s;
}

.header__about-us__dropdown li a:hover {
    color: #FF9B06;
    transition: all 0.3s;
}

.header__about-us__dropdown li::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: all 0.4s;
}

.header__about-us__dropdown li:hover::before {
    width: 90%;
    transition: all 0.4s;
}

.header__about-us__dropdown li:hover::after {
    transform: translateX(0.5rem);
    transition: all 0.5s;
}

.header__about-us__dropdown li::after {
    content: "";
    position: absolute;
    top: 0.6rem;
    left: 90%;
    background-image: url(../pict/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 12px;
    height: 12px;
    margin-left: auto;
}


@media (max-width: 768px) {
    .header__container {
        flex-direction: row;
        gap: 1.5rem;
        position: relative;
        justify-content: space-between;
    }

    .header__burger {
        display: block;
        z-index: 100;
    }

    .header__nav {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 99;
        justify-content: center;
        padding-top: 4rem;
        gap: 2rem;
    }

    .header__nav.active {
        left: 0;
    }

    .header__nav ul {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }

    .header__nav li {
        width: 100%;
        text-align: center;
    }

    .header__nav li a {
        display: block;
        width: 100%;
        font-size: 24px;
    }

    .header__lang {
        justify-content: center;
        font-size: 20px;
    }
}