.main {
    flex: 1;
    width: 100%;
}

.main__container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__block {
    flex: 1;
}

@media (max-width: 768px) {
    .main__block,
    .main__container {
        padding: 0.5rem;
    }
}