.memberitem {
    display: flex;
    position: relative;
    max-width: 350px;
    max-height: 100px;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.memberitem__img {
    position: relative;
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    width: 100%;
    height: 100%;
}

.memberitem__img-wrapper {
    position: relative;
}
.memberitem__img-wrapper::after {
    content: "+";
    background-image: url("../pict/lobbyPict/arrow.svg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 90%;
    width: 30px;
    height: 30px;
    z-index: 100;
    visibility: hidden;
    transition: all 0s ease-in-out;
}

.memberitem__text {
    display: flex;
    flex-direction: column;

    gap: 3px;
}

.memberitem__name {
    font-size: 18px;
    margin-bottom: 0px;
}

.memberitem__position {
    font-size: 16px;
    margin-bottom: 5px;
}

.memberitem__role {
    font-size: 14px;
    margin-bottom: 5px;
}

.memberitem__description {
    position: absolute;
    top: 0;
    left: 3.5rem;
    visibility: hidden;
    font-size: 12px;
    margin-bottom: 0px;
    z-index: 100;
    transition: all 0s ease-in-out;
}

.memberitem:hover .memberitem__description {
    visibility: visible;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-style: italic;
    font-weight: bold;
    min-height: 100%;
    align-content: center;
    transition: all 0.1s ease-in-out;
}

.memberitem:hover .memberitem__img-wrapper::after {
    visibility: visible;
    transition: all 0.2s ease-in-out;
}