.item__card-member {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 350px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.item__card-container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 340px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 15px;

}

.item__card-img {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    padding-bottom: 87%;
    border-radius: 20%;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

}

.item__card-img img {
    transition: all 0.3s ease-in-out;

}

.item-info {
    position: absolute;
    display: none;
    top: 5%;
    right: 15%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;

}

.item__card-img img {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Modal Styles */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: rgb(246, 244, 236);
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;

    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.2s ease-in-out;
}

.modal-img {
    position: relative;
    align-self: center;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 33%;
}

.modal-img img {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;

}

.item__name {
    font-size: 2rem;
    font-weight: 800;
    font-family: "Inter";
    margin-bottom: 1rem;
    margin-left: 0;
}



.item__name::before {
    content: "";
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: black;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease-in-out;
}

.item__card-container:hover .item__name::before {
    width: 100%;
}

.item__card-container:hover .item__name {
    color: #FF9900;

}

.modal-content h3 {
    font-size: 2rem;
    font-weight: 800;
    font-family: "Inter";
    font-style: italic;
    margin-bottom: 1rem;
    margin-left: 0;
}

.modal-content p {
    font-size: 1rem;
    padding: 0rem 1rem;
    line-height: 1.5;
    font-weight: 300;
    color: #333;
    text-align: left;
    margin-bottom: 1rem;
}

.modal-social-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0rem 1rem;
}

.modal-social-links img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.modal-social-links a {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.modal-social-links a:hover {
    transform: scale(1.2);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    line-height: 1;
    transform: rotate(45deg);
    color: #333;
}

.close-btn:hover {
    color: #ff9900;
}

.item__card-img:hover+.item-info,
.item-info:hover {
    display: block;
    cursor: pointer;
    animation: scaleInfo 0.6s infinite alternate;
}

.item__card-img:hover img {
    transform: scale(1.03);

}

.item__card-img:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scaleInfo {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.25);
    }
}


@media (max-width: 768px) {

    .modal-content {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        max-height: 95vh;
        padding: 2rem 1rem;
        overflow-y: auto;
    }

    .modal-img {
        margin-top: 2%;
       
        
        width: 100%;
        height: 100%;
        padding-bottom: 90%;
        border-radius: 40px;
        overflow: hidden;
    }

    .modal-text {
        padding: 0rem 1rem;
        font-size: 12px;
        text-align: center;
    }

    .modal-text h3 {
        font-size: 1.5rem;
    }

    .modal-social-links {
        padding: 0rem 1rem;
    }

    .close-btn {
        top: 5px;
        right: 10px;
    }
}