.memberitem {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 520px;
    width: 100%;

}

.memberitem__img-wrapper {
    position: relative;
    padding-bottom: 40%;
    width: 40%;
    flex-shrink: 0;
}

.memberitem__img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.memberitem__description,
.memberitem__role {
    display: none;
}