.membership-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.item__card {
    flex: 1 1 auto;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
}

.item__card__container {
    position: relative;
    padding-bottom: 135%;
    overflow: hidden;
    height: 0;
    max-width: 100%;
}

.pict {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.item__text {
    padding: 1rem;
    height: 100%;
}

.item__text h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

.item__card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    transform: translateY(80%);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.item__card:hover {
    transition: all 0.3s ease-in-out;
}

.item__card:hover .pict {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.item__card:hover .item__card-content {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}