.membership-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
}

.item__card {
    flex: 1 1 auto;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
      transition: all 0.3s ease-in-out;
}

.item__card__container {
    position: relative;
    padding-bottom: 135%;
    overflow: hidden;
    height: 0;
    max-width: 100%;
}

.pict {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.item__text {
    display: flex;
    flex-direction: column;
    flex:1 1 auto;
    padding: 1rem;
   
    
    
}

.item__text h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 800;

}
.item__text p{
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}

.item__card-content {
    position: absolute;
    bottom: 0%;
    left: 0;
    height: 100%;
    max-height: 250px;
    width: 100%;
    background-color: rgba(246, 244, 236, 1);

    color: black;
    text-align: center;
    transform: translateY(73%);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.item__card:hover {
    transform: scale(1.1);
    z-index: 100;
    transition: all 0.3s ease-in-out;
}

.item__card:hover .pict {
    transform: scale(1.1);
    
    transition: all 0.3s ease-in-out;
}

.item__card:hover .item__card-content {
    transform: translateY(0);
     background-color: rgba(246, 244, 236, 0.4);
    transition: all 0.3s ease-in-out;
}