.who-we-are__article {
    background: rgba(255, 255, 255, 1);
    border-radius: 43px;
    padding: 2rem 4rem;
    margin: 0 1rem;

}

h2 {
    font-family: "Inter";
    font-weight: 600;
    font-style: italic;
    font-size: 64px;
    line-height: 41px;
    letter-spacing: -4%;
    margin-bottom: 3rem;
}

p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -4%;
    margin-bottom: 2rem;
}

span {
    font-family: Inter;
    font-weight: 500;
    font-style: italic;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;

}

.who-we-are__article-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.who-we-are__article-bottom a {
    background: linear-gradient(204.67deg, #FF9B06 -24.31%, #FFFFFF 120.9%);
    border-radius: 43px;
    padding: 0.5rem 1rem;

}

.arrow {
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .people {
     display: none;
    }
    .who-we-are__article {
        padding: 1.5rem 1rem;
    }

    h2 {
        font-size: 36px;
        margin-bottom: 2rem;
    }

    p {
        font-size: 16px;
    }

    .who-we-are__article-bottom {
        flex-direction: column-reverse;
        gap: 1.5rem;
    }

    .who-we-are__article-bottom img {
        width: 100%;
        max-width: 100%;
    }

    .who-we-are__article-bottom a {
      
        text-align: center;
    }

    .who-we-are__article-bottom a img.arrow {
        width: 24px;
        display: inline-block;
    }
}